body {
  margin: 0;
}
header {
  background: #f1f1f1;
  width: 100%;
  position: fixed;
  top: 0;
}
header h1 {
  margin: 0;
  text-align: center;
  padding: 50px 0;
}

.indicator {
  background: #ccc;
  height: 8px;
}

.indicator .bar {
  background: #4caf50;
  width: 0%;
  height: 100%;
}
.content {
  padding: 0 97px;
  margin-top: 200px;
}

.content p {
  font-size: 24px;
}
