.list-group {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
}

.list-group li {
  background: #f6f6f6;
  box-sizing: border-box;
  width: 100%;
  padding: 18px 15px;
  border-bottom: 1px solid #ddd;
}

.list-group li:last-child {
  border-bottom: none;
}
