ul.nav {
  list-style: none;
  overflow: hidden;
}
ul.nav li {
  float: left;
}

ul.nav li > a {
  display: block;
  /* background-color: aqua; */
  padding: 20px;
  text-decoration: none;
  color: #999;
}

ul.nav li > a:hover {
  color: #555;
}

.border-right {
  border-right: 1px solid #aaa;
}
