.new1 {
  border: 1px solid red;
}

.new2 {
  border: 1px dashed red;
}

.new3 {
  border: 1px dotted red;
}

.new4 {
  border: 2px solid red;
}

.new5 {
  border: 9px solid green;
  border-radius: 6px;
}
