.custom-switch {
  display: inline-block;
  width: 64px;
  height: 37px;
  position: relative;
  cursor: pointer;
}

/* 隐藏默认checkbox */
.custom-switch input {
  display: none;
}

/* 自定义switch */
.custom-switch .switch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #cccccc;
  border-radius: 34px;
  transition: 0.5s;
}

.custom-switch .switch::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
}

/* 选中时的状态改变 */
.custom-switch input:checked ~ .switch {
  background: #2196f3;
}
.custom-switch input:checked ~ .switch::after {
  left: 29px;
}
