* {
  box-sizing: border-box;
}
body {
  margin: auto;
}
h2 {
  text-align: center;
}

.container {
  position: relative;
  width: 25%;
}
img {
  display: block;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #008888;
  transition: all 0.5s ease;
  /* important */
  overflow: hidden;
}
.container:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  /* important */
  white-space: nowrap;
}
