* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.wrapper {
  width: 1000px;
  margin: 20px;
}
button {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #0077ff;
  background-color: #0077ff;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 4px 8px 0 #0077ff;
}
button.active {
  background-color: blue;
}
.div_container {
  margin-top: 10px;
}
.div_container > .filterdiv {
  float: left;
  width: 100px;
  height: 100px;
  color: white;
  background-color: rgb(85, 182, 46);
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}
.div_container > .show {
  display: block;
}
