* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
}
.navbar-logo {
  margin-right: 20px;
}
.navbar-toggleer {
  display: none;
}
.nav {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: auto; /* align form to right side */
}
.nav-link {
  color: #aaa;
  padding: 10px;
  display: block;
}
.nav-link:hover {
  color: #000;
}
/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-toggle::after {
  content: '';
  border: 5px solid transparent;
  border-top: 5px solid;
  display: inline-block;
  margin-left: 5px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  background-color: #fff;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-item {
  display: block;
  color: #aaa;
  width: 100%;
  padding: 6px 12px;
}
.dropdown-item:hover {
  color: #000;
}

/* form */
.navbar-form {
  display: flex;
}
.navbar-form input {
  display: block;
  line-height: 1.5;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid #0077ff;
  border-radius: 4px;
  margin-right: 5px;
}
.navbar-form button {
  line-height: 1.5;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid #0077ff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.navbar-form button {
  background-color: #0077ff;
  color: #fff;
}

/* 响应 */
@media (max-width: 992px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
  }
  .nav {
    flex-basis: 100%;
    flex-direction: column;
    display: none;
  }
  .nav.show {
    display: block;
  }
  .nav-link {
    padding-left: 0;
  }
  .dropdown {
    display: none;
  }
  .navbar-form {
    display: none;
  }
  .navbar-toggleer {
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }
  .navbar-toggler-icon {
    display: block;
    width: 25px;
    height: 25px;
    content: '';
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
