.nav {
  margin: 0;
  padding-left: 0;
  list-style: none;
  background-color: #000;
}
/* important */
.nav::after {
  display: block;
  content: '';
  clear: both;
}
.nav li {
  float: left;
}
.nav-item {
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.nav-item:hover {
  background-color: red;
}
.dropdown {
  position: relative;
}
.dropdown-toggle::after {
  display: inline-block;
  content: '';
  border: 5px solid transparent;
  border-top: 5px solid;
  margin-left: 10px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-item {
  display: block;
  background-color: #fff;
  color: #000;
  padding: 12px 16px;
  float: none;
  text-decoration: none;
}
