.progress-bar {
  background: #ddd;
  height: 33px;
}

.bar {
  background: #4caf50;
  color: #fff;
  width: 0%;
  height: 33px;
  text-align: center;
  line-height: 33px;
}

button {
  margin-top: 24px;
  padding: 11px 17px;
  cursor: pointer;
}
