* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.list-header {
  background: #f44336;
  padding: 20px 45px 30px;
}
.list-header h1 {
  margin: 0;
  text-align: center;
}

.list-header input {
  font-size: 16px;
  width: 75%;
  border: none;
  float: left; /* 去除与button空隙*/
  padding: 16px 10px;
  outline: none;
}
.list-header button {
  background: #d9d9d9;
  font-size: 16px;
  width: 25%;
  padding: 16px 80px;
  border: none;
  cursor: pointer;
  outline: none;
}
.list-header button:hover {
  background: #bbb;
}

/* .list-content */
.list-content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-content li {
  background: #f9f9f9;
  width: 100%;
  padding: 20px 44px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  user-select: none;
}
.list-content li:nth-child(even) {
  background: #eee;
}
.list-content li:hover {
  background: #ddd;
}

.list-content li .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 20px;
}
.list-content li .close:hover {
  background: #f44336;
  color: #fff;
}

/* 选中状态 */
.list-content li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
.list-content li.checked::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 16px;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform: rotate(45deg);
}

.list-content li.checked .close {
  color: #fff;
}
