* {
  box-sizing: border-box;
}
main {
  max-width: 800px;
  margin: 24px auto;
}

.rating-title {
  font-size: 22px;
}

.rating-stars {
  margin-left: 30px;
}

@font-face {
  font-family: 'iconfont';
  src: url(./iconfont.woff) format('woff');
}

.star {
  font-family: iconfont;
  font-size: 22px;
  font-style: normal;
}

.star.checked {
  color: #ffa500;
}

.row {
  margin-top: 14px;
  display: flow-root;
}
.left,
.right,
.middle {
  float: left;
}

.left {
  width: 15%;
}
.middle {
  width: 70%;
  height: 20px;
  background: #f1f1f1;
}
.right {
  width: 15%;
  text-align: right;
}
.bar1 {
  background: #4caf50;
  width: 60%;
  height: 100%;
}
.bar2 {
  background: #2196f3;
  width: 25%;
  height: 100%;
}
.bar3 {
  background: #00bcd4;
  width: 6%;
  height: 100%;
}
.bar4 {
  background: #ff9800;
  width: 2%;
  height: 100%;
}
.bar5 {
  background: #f44336;
  width: 8%;
  height: 100%;
}
