* {
  box-sizing: border-box;
}
input {
  font-size: 16px;
  border: none;
}

input[type='text'] {
  background: #f1f1f1;
  width: 300px;
  padding: 14px 12px;
}

input[type='submit'] {
  background: #1e90ff;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
}

.input-list {
  margin: 0;
  padding: 0;
  width: 300px;
}
.input-list li {
  border: 1px solid #d4d4d4;
  padding: 14px 10px;
  cursor: pointer;
}
.input-list li:hover {
  background: #f1f1f1;
}
.input-list li:not(:last-child) {
  border-bottom: none;
}

.input-list li.focus {
  background: #1e90ff;
  color: #fff;
}
