* {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  font-size: 21px;
  margin-top: 40px;
  margin-bottom: 28px;
}

/* == social media */

@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.woff') format('woff');
}

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  font-style: normal;
}

.facebook,
.twitter,
.google {
  color: #fff;
  display: block;
  width: 80%;
  margin: 10px auto 0;
  padding: 14px;
  border-radius: 4px;
}
.facebook {
  background-color: #5670a5;
}
.twitter {
  background-color: #6cb6ee;
}
.google {
  background-color: #e06455;
}
.mr-10 {
  margin-right: 10px;
}
/* social media end */
.divide {
  text-align: center;
  margin: 23px 0;
}

/* === form */
form {
  width: 80%;
  margin: 0 auto;
}
input {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 14px;
}
input[type='submit'] {
  background-color: #65b968;
  color: #fff;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #666666;
  margin-top: 34px;
  padding: 22px 0;
  border-radius: 4px;
}

footer a {
  color: #fff;
  display: block;
  text-align: center;
}
footer a:last-child {
  margin-top: 42px;
}

@media screen and (min-width: 650px) {
  .container {
    display: flow-root;
    position: relative;
  }
  .social-media {
    float: left;
    width: 50%;
    padding: 0 50px;
  }
  .facebook,
  .twitter,
  .google {
    width: 100%;
  }
  .divide {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
    background-color: #f1f1f1;
    margin-top: 0;
  }
  .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ddd;
    height: 190px;
  }
  .divide span {
    display: none;
  }

  form {
    float: left;
    width: 50%;
    padding: 0 50px;
  }

  footer {
    padding: 22px 25px;
    display: flow-root;
  }
  footer a {
    float: left;
    width: 50%;
  }
  footer a:last-child {
    margin-top: 0px;
  }
}
