* {
  box-sizing: border-box;
}
button {
  color: #fff;
  background-color: #2196f3;
  font-size: 16px;
  padding: 20px;
  border: none;
  cursor: pointer;
  float: left;
}

@font-face {
  font-family: 'iconfont';
  /* src: url('./iconfont/iconfont.eot'); */
  src: url('./iconfont/iconfont.woff') format('woff');
  /* url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'), */
  /* url('./iconfont/iconfont.woff2') format('woff2'), */
  /* url('./iconfont/iconfont.ttf') format('truetype'), */
  /* url('./iconfont/iconfont.svg#iconfont') format('svg'); */
}

.iconfont {
  font-family: 'iconfont';
}

.dropdown {
  border-left: 1px solid #0d8bf2;
  position: relative;
}
.dropdown-list {
  color: #000;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.dropdown:hover .dropdown-list {
  display: block;
}
.dropdown-item {
  padding: 15px 18px;
  width: 176px;
  text-align: left;
}
