/* 隐藏原始radio */
input[type='radio'] {
  display: none;
}

/* 外容器设置 */
.custom-radio {
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
}
.custom-radio label {
  /* 内边距偏移,留出空间自定义radio */
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.custom-radio .radio {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eee;
}
/* 选中状态下，改变自定义radio背景颜色 */
input:checked ~ .radio {
  background-color: #2196f3;
}
/* 伪元素是一个圆点 */

input:checked ~ .radio::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
