@font-face {
  font-family: 'iconfont';
  src: url(./iconfont.woff) format('woff');
}

.star {
  font-family: iconfont;
  font-size: 16px;
  font-style: normal;
}

.star.checked {
  color: #ffa500;
}
