* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h2 {
  text-align: center;
}
.container {
  position: relative;
}
img {
  display: block;
  width: 100%;
}
.top-right,
.top-left,
.bottom-left,
.bottom-right,
.center {
  position: absolute;
  color: #fff;
  font-size: 20px;
}
.top-right {
  top: 10px;
  right: 10px;
}
.top-right {
  top: 10px;
  right: 10px;
}
.top-left {
  top: 10px;
  left: 10px;
}
.bottom-right {
  bottom: 10px;
  right: 10px;
}
.bottom-left {
  bottom: 10px;
  left: 10px;
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
