* {
  box-sizing: border-box;
}
body,
html {
  /* height: 100%; */
  margin: 0;
}

button {
  font-size: 16px;
  line-height: 1.5;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
button.login {
  background-color: rgb(28, 204, 28);
  border-color: rgb(28, 204, 28);
  color: #fff;
  display: block;
  margin: 0 auto;
}

.modal {
  position: absolute;
  display: none;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 60%;
  margin: 20px auto 0;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  padding: 10px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
  font-size: 40px;
  cursor: pointer;
}
.close:hover {
  color: #ff0000;
}
.modal-img {
  width: 250px;
  margin: 0 auto;
}
.modal-img img {
  border-radius: 50%;
  width: 100%;
}
.form {
  margin-top: 20px;
}
.form label {
  font-weight: bold;
  /* margin-top: 30px; */
}

.form input[type='text'],
.form input[type='password'] {
  display: block;
  width: 100%;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #aaa;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  height: 40px;
}
.remember {
  margin-top: 10px;
}
.remember label {
  font-weight: normal;
}
.mt-3 {
  margin-top: 20px;
}

.modal-login {
  display: block;
  width: 100%;
  background-color: rgb(28, 204, 28);
  color: #fff;
  margin-top: 20px;
  height: 50px;
}
.modal-footer {
  margin-top: 20px;
}
.modal-footer button {
  background-color: #ff0000;
  color: #fff;
  border-color: #ff0000;
}
.modal-footer span {
  float: right;
}

.scale {
  animation: scale 0.5s;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
