* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.slide-container {
  position: relative;
  margin: 0 auto;
}

.number-text {
  position: absolute;
  top: 0;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}
img {
  width: 100%;
}
.caption-text {
  position: absolute;
  bottom: 50px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 25px;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-top: -40px;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
  background-color: #000;
}
.images-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.images-group img {
  width: 15%;
  cursor: pointer;
  opacity: 0.6;
}

.images-group img:hover,
.images-group img.active {
  opacity: 1;
}

.fade {
  animation: fade 0.5s;
}
@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
