body {
  margin: 0;
  padding: 0;
}

/* modal */
.modal {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal > .modal-image {
  width: 80%;
  margin: 100px auto;
  max-width: 700px;
}
.modal-image > img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
.modal-image > .modal-title {
  color: #fff;
  font-size: 30px;
  width: 80%;
  margin: 5px auto 0;
  text-align: center;
}
.modal > .close {
  color: #fff;
  font-size: 70px;
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;
}
.modal > .close:hover {
  color: #000;
}

/* gallery */
.gallery {
  max-width: 1000px;
  margin: 20px auto;
}
.gallery > img {
  float: left;
  width: 200px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-image > img,
.modal-title {
  animation: scale 0.6s;
}
